.card-container {
    padding: 24px 32px;
    border-top: 1px dashed black;
    p{
        margin: 0px;
    }
    b{
        display: inline-block;
        margin-bottom: 1rem;
    }
    .card {
        max-width: 50%;

        .card-details-section {
            padding: 24px 32px;


            .card-detail {
                display: flex;
                justify-content: space-around;
            }

            .book-btn-container {
                display: flex;
                justify-content: end;

                button {
                    width: 8rem;
                    padding: 12px;
                }
            }
        }


    }

}